html, body
{
    height:100%
}

.mainContainer
{
    height:100%;
}

.mainContainer .row
{
    /*height:100%;*/
}

.leftPanel
{
    background-color: white;
    border-left: 2px solid #343434;
    height:100%;
    padding:10px;
    text-align: left;
}

.leftPanel .panelBar
{
    width:100%;
}

.leftPanel .btn
{
    width: 100%;
    margin-bottom:10px;
}

#gameCanvas
{
    padding:10px;
    background-color: cornflowerblue;
    height:70%;
}

.cell
{
    background: white no-repeat;
    border:1px solid #717171;
    position: relative;
    float: left;
    color:#e1e1e1;
    font-size: .5em;
    background-size: cover;
}

.RowsStartCell
{
    clear:left;
}

#startExploreBtn
{
    width: 55% !important;
}

#startRandomBtn
{

    width: 55% !important;
}

#stopExploreBtn
{
    width: 45% !important;
}

#episodeCount
{
    width: 60px;
}

#reportConsole
{
    background-color: black;
    color: lawngreen;
    height:300px;
    font-size: 70%;
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
    padding: 0px;
}

#logControl
{
    line-height:12px;
    position: relative;
    bottom: 0px;
    float: right;
    font-size: .9em;
    padding:4px;
    background-color: white;
    color: black;
    cursor: pointer;
    visibility: hidden;
}

#consoleCanvas
{
    padding: 15px;
    overflow: scroll;
    height:300px;
}