html, body
{
    height:100%
}

.mainContainer
{
    height:100%;
}

.mainContainer .row
{
    /*height:100%;*/
}

.leftPanel
{
    background-color: white;
    border-left: 2px solid #343434;
    height:100%;
    padding:10px;
    text-align: center;
}

.leftPanel .panelBar
{
    width:100%;
}

#gameCanvas
{
    padding:10px;
    background-color: cornflowerblue;
    height:70%;
}

.cell
{
    background: white no-repeat;
    border:1px solid #717171;
    position: relative;
    float: left;
    color:#e1e1e1;
    font-size: .5em;
    background-size: cover;
}

.RowsStartCell
{
    clear:left;
}

#startExploreBtn
{
    width: 55% !important;
}

#startRandomBtn
{
    width: 55% !important;
}

#stopExploreBtn
{
    width: 45% !important;
}

#episodeCount
{
    width: 40px;
}

#reportConsole
{
    background-color: black;
    color: lawngreen;
    height:300px;
    font-size: 70%;
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
    overflow: scroll;
}