<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Q-Game</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/environment.js"></script>
</head>
<body>

    <div class="container-fluid mainContainer">
        <div class="row">

            <div class="col-3 leftPanel">
                <div class="btn btn-primary panelBar">
                      Episode Score <span class="badge badge-light" id="scoreHolder">0</span>
                </div>


                <button class="btn btn-success" id="startRandomBtn">Start Exploration for </button>
                <input type="number" id="episodeCount" value="1000"> times
{#                <button class="btn btn-danger" id="stopRandomBtn">Stop Random Worker</button>#}
{#                <button class="btn btn-success" id="stopExploreBtn">Interrupt</button>#}


{#                <button class="btn btn-success" id="startExploreBtn">Start Exploration</button>#}
{#                <input type="text" id="episodeCount" value="1"> times#}


                <button class="btn btn-success" id="showQtableBtn" data-toggle="modal" data-target="#exampleModalLong">Show Q-Table</button>

                <button class="btn btn-success" id="playFuckBtn">Start Exploitation</button>
            </div>

            <div class="col-9">
                <div class="row">
                    <div class="col-12" id="gameCanvas">

                    </div>
                </div>
                <div class="row">

                    <div class="col" id="reportConsole">
                        <div class="" id="logControl">Disable Logging</div>
                        <div class="" id="consoleCanvas"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Current QTable</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="modal-Qtable">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <script>
        $(function(){
            BuildEnvironment();
        })
    </script>

</body>
</html>